/*
create variable - $primarybtn: "color";
nesting - all classes and ids can go inside the main property
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.container {
    height: auto;
}

header {
    width: 100%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    .branding {
       align-self: center;
    }  
    .logo {
        font-family: times, serif;
        font-style: italic;
        text-transform: uppercase;
        border-style: solid;
        border-radius: 5%;
        padding: 15px;
        width: 360px;
        text-align: center;     
    }
    .redtext {
        color: #8B0000;
    }
    .blacktext {
        color: rgb(42, 90, 180);
    }
    .navigation {
        align-self: flex-end;
        line-height: 50px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar {
        float: right;
        padding-right: 50px;
        a {
            margin: 20px;
            color: black;
        }
    }
}

.wrapper{
    width: 50%;
    margin: 50px auto;
    height: auto;
    display: flex;
    flex-direction: column;
}

.post-one {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    h2 {
        padding: 20px 0;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.post-two {
    padding: 50px;
    width: 80%;
    margin: 0 auto;
    h2 {
        padding: 20px 0;
    }
}

.footer-wrapper {
    width: 100%;
    height: 200px;
    background: #000;
    color: #b2bec3;
    font-family: Arial, Helvetica, sans-serif;
}

.copyrights-div {
    display: flex;
    flex-direction: column;
}

.footer-main {
    display: flex;
}


